<div class="card-container">
    <mat-card>
        <div class="logo-container">
            <!-- Add Logo Image Here -->
        </div>
        <mat-card-title id="title" class="mat-display-2 center-text">Higher or Lower</mat-card-title>
        <mat-card-subtitle class="mat-display-1 center-text">Can you guess right?</mat-card-subtitle>
        <p class="mat-display-3 center-text">I am thinking of a number between...<br>
            <img id="emoji" src="assets/thinking-face-emoji.png"><br>
            <span id="game-nbr">0 and {{ upperLmt }}</span>
        </p>
        <mat-card *ngIf="over" class="guess-card">
            <mat-card-title class="center-text">Oof! Too high.</mat-card-title>
        </mat-card>
        <mat-card *ngIf="under" class="guess-card">
            <mat-card-title class="center-text">Oof! Too Low.</mat-card-title>
        </mat-card>
        <mat-card class="guess-card float-parent">
            <div class="float-child">
                <mat-form-field class="mat-focused">
                    <mat-label>Guess Here</mat-label>
                    <input matInput type="number" placeholder="Ex. 12" [(ngModel)]="guessValue">
                </mat-form-field>
            </div>
            <div class="float-child">
                <button mat-raised-button class="guess-btn" (click)="checkGuess(guessValue)">Guess</button>
            </div>
        </mat-card>
        <mat-card class="guess-card">
            <mat-card-title class="center-text">Guess History</mat-card-title>
            <mat-list role="list">
                <mat-list-item *ngFor="let guess of guessHistory" role="listitem">{{ guess }}</mat-list-item>
            </mat-list>
        </mat-card>
        <mat-progress-bar class="progress-bar" mode="determinate" value="{{progressBarVal}}"></mat-progress-bar>
        <mat-card class="guess-card" id="guess-left">
            <p class="mat-display-1 center-text">Guesses Left: {{ numGuesses }}</p>
        </mat-card>
        <!-- Leader Board Card? -->
    </mat-card>
</div>