.card-container {
    max-width: 80%;
    margin: auto;
    position: relative;
    top: 6%;
}

.center-text {
    text-align: center;
}

.title-padding {
    padding: .75em;
}

#title {
    margin: 0 0 25px;
}