.card-container {
    max-width: 80%;
    margin: auto;
    position: relative;
    top: 6%;
}

.center-text {
    text-align: center;
}

.title-padding {
    padding: .75em;
}

.guess-card {
    color: #000000;
    background-color: #ffffff;
    max-width: 28em;
    margin: 1em auto;
}

.guess-btn {
    margin: 0 auto;
    background-color: #c2185b;
}

.new-game-btn {
    margin: 2em auto;
    width: 75%;
    display: block;
}

.mat-list-item { 
    color: #000000;
}

.float-parent {
    display: flow-root;
}

.float-child {
    float: left;
    padding: 20px;
}

#title {
    margin: 0 0 25px;
}

#emoji {
    margin: 0.6em 0 0.6em 0;
}

#game-nbr {
    line-height: 1.5em;
}

