.card-container {
    max-width: 80%;
    margin: auto;
}

::ng-deep.mat-card {
    background-color: #264653;
}

.center-text {
    text-align: center;
}

.title-padding {
    padding: .75em;
}

.guess-card {
    color: #000000;
    background-color: #2a9d8f;
    max-width: 28em;
    margin: 2em auto;
}

mat-form-field.mat-form-field {
    font-size: 32px;
    text-align: center;
}

.guess-btn {
    margin: 0 auto;
    background-color: #e76f51;
    height: 5em;
    width: 9em;
}

.new-game-btn {
    margin: 2em auto;
    width: 75%;
    display: block;
}

.mat-list {
    display: inline-flex;
}

.mat-list-item {
    color: #000000;
}

.progress-bar {
    margin: auto;
    max-width: 28em;
}

::ng-deep.mat-progress-bar-buffer {
    background-color: #000000;
}

::ng-deep.mat-progress-bar-fill::after {
    background-color: #ffffff;
}

.float-parent {
    display: flow-root;
}

.float-child {
    float: left;
    padding: 20px;
}

#title {
    margin: 0 0 25px;
}

#emoji {
    margin: 0.6em 0 0.6em 0;
}

#game-nbr {
    line-height: 1.5em;
}

#guess-left {
    margin-bottom: 4em;
}